@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


li, a, button{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: beige;
  text-decoration: none;
}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
  background-color: #CC9966
}

.nav_links{
  list-style: none;
}


.nav_links, li{
  display: inline-block;
  padding: 0px 20px;
}


.nav_links, li, a{
  transition: all 0.3s ease 0s;
}


.nav_links, li, a:hover{
  color: #6F4E37;
}


button{
  padding: 12px 30px;
  background-color: #66311E;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 50px;
}


button:hover{
  background-color: #4A0404;
}


*{
  margin: 0;
  padding: 0;
}


.home{
  display: flex;
  height: 550px;
}


.column1, .column2 {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}


.column1 {
  position: relative;
  background-image: url("/images/bg1.jpg");
  justify-content: center;
  align-items: center;
}


.column1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.001);
}


.column2 {
  background-image: url("/images/bg2.png");
}


.title{
  font-family: "League Spartan", sans-serif;
  font-weight: 800;
  font-size: 70px;
  color: #482113;
  letter-spacing: -3px;
  text-align: center;
}


.description{
  font-family: "Alegreya", serif;
  font-weight: 100;
  font-size: 17px;
  color: #0C090A;
  align-items: flex-start;
  text-align: center;
}


.specialmenu{
  height: 680px;
  background-color: #FFF5EC;
  display: flex;
  flex-direction: column;
}


.title1{
  font-family: "League Spartan", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #482113;
  letter-spacing: -3px;
  text-align: center;
  margin-top: 60px;
}


.description1{
  font-family: "Alegreya", serif;
  font-weight: 100;
  font-size: 17px;
  color: #0C090A;
  text-align: center;
  margin-bottom: 10px;
}


.container{
  display: flex;
  justify-content: center;
}


.menu{
  text-align: center;
  margin: 60px;
  max-width: 350px;
}


.image{
  height: 300px;
  width: auto;
  display: block;
  margin: 0 auto 10px;
}


.h3title{
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #482113;
  letter-spacing: -1px;
  text-align: center;
  margin-top: 25px;
}

.descrip{
  font-family: "Alegreya", serif;
  font-weight: 100;
  font-size: 15px;
  color: #0C090A;
  text-align: center;
  margin-top: 10px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer .containers{
  background-color: #E5AA70;
}

.rows{
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
}

.footer-col ul{
  list-style: none;
}

.footer-col h4{
  color: #482113 ;
  letter-spacing: -1px;
  font-family: "League Spartan", sans-serif;
  font-size: 25px;
  font-weight: 700px;
  position: relative;
  margin-bottom: 25px;
}

.footer-col h4::before{
  content: '';
  width: 70px;
  height: 2px;
  position: absolute;
  background-color: black;
  bottom: -10px;
}

.footer-col ul li{
  padding: 8px 0px;
  display: flex;
  flex-direction: column;
}

.footer-col ul li a{
  color: beige;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  transition: all 0.3s ease 0s;
}

.footer-col ul li a:hover{
  color: #6F4E37;
}

.map{
  border: 2px solid #482113; 
  border-radius: 8px;
}

.footer-col input{
  border: 1px solid black;
  width: 250px;
  height: 45px;
  display: block;
  margin: 15px 0px;
  font-family: "Alegreya", serif;
}

.footer-col .InputSubmit{
  background-color:#66311E ;
  color: beige;
  font-family: "Roboto", sans-serif;
  font-weight: 800px;
  cursor: pointer;
}

.container2{
  height: 70px;
  background-color: #CC9966;
}

.row2{
  display: flex;
  justify-content: space-between;
  padding: 25px 35px;
}

.row2 hr{
  opacity: 0.7;
}

.row2 .socials i{
  display: inline-block;
  color: white;
  font-size: 20px;
  margin: 0 15px;
  transition: 0.5s;
}

.row2 .socialIcons i:hover{
  color: #6F4E37;
}

.col p{
  font-family: "Alegreya", serif;
  color: beige;

}